<ion-view view-title="Search">
  <ion-content>
    <div class = "card">
   <div class = "item item-avatar">
      <img src = "https://s3-us-west-2.amazonaws.com/hp-cdn-01/uploads/orgs/org_23_logo_jiknaaZzB8DJ7BtxAf9s.jpeg">
      <h2>Card Name</h2>
   </div>

   <div class = "item item-body">
      <img class = "full-image" src = "my-image.png">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget 
      pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. 
      Nam tristique elit massa, quis faucibus augue finibus ac.
   </div>
</div>
  </ion-content>
</ion-view>
